# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.venv/
venv/
env/
.env
.env.*

# Django
*.log
*.pot
*.sqlite3
media/
staticfiles/

# IDEs / OS
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# Docker
*.pid

